.logo {
    /*width: 200px;*/
    margin: 2rem 0;
    /*border-radius: 50%;*/
}

.seccion-bienvenida{
    margin: 5rem 0 10rem 0;
    color: white;
    padding: 1rem;
}

.seccion-bienvenida h1 {
    margin-bottom: 2rem;
    
}

.seccion-bienvenida p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.img-empleado {
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
}

.skills {
    margin-top: 1rem;
    padding: 1rem;
}

.stack {
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 gray;
}

.stack h3 {
    color: blue;
    margin-top: 1rem;

}

.stack h4 {
    margin-top: 2rem;
}

.encimar {
    margin-top: -110px;
}

.icono {
    color: blue;
    font-size: 50px;
}

.proyectos {
    padding-top: 6rem;
}