<div class="encimar">
    <div class="row justify-content-md-center text-center skills">
        <div class="col col-3 bg-white stack">
            <i class="bi-hdd-fill icono"></i>
            <h3>Back-end</h3>
            <h4>Desarrollo de lado del servidor, pruebas automáticas.</h4>
            <p>PHP</p>
            <p>C#</p>
            <p>ASP.NET CORE</p>
            <p>POO</p>
            <p>MVC</p>
        </div>

        <div class="col col-3 bg-white stack">
            <i class="bi-code-slash icono"></i>
            <h3>Front-end</h3>
            <h4>Desarrollo del lado del usuario, interfaces, experiencia de usuario.</h4>
            <p>HTML5</p>
            <p>CSS3</p>
            <p>SASS</p>
            <p>BOOTSTRAP</p>
            <p>JAVASCRIPT</p>
            <p>JQUERY</p>
            <p>AJAX</p>
        </div>
    </div>
</div>