
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por contáctarnos!</h1>
<p>En breve se te dará una respuesta.</p>
<div>
    <a asp-action="Index" asp-controller="Home">
        Volver al Inicio.
    </a>
</div>