@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> << Omar García >></></h1>
    <p> - Desarrollador Web - </p>

    <img src="~/img/gixxer.png" alt="foto moto"/>
</div>
