@model HomeIndex

@{
    ViewData["Title"] = "Inicio";
}

@*<div>
    Guid Transitorio: <p>@Model.EjemploGUID_1.Transitorio</p>
</div>

<div>
    Guid Delimitado: <p>@Model.EjemploGUID_1.Delimitado</p>
</div>

<div>
    Guid Único: <p>@Model.EjemploGUID_1.Unico</p>
</div>
*@
<!--
    El archivo de _Presentacion se crea como:
    Componente Razor: Vista vacía
-->
<partial name="_Presentacion" />

<partial name="_Habilidades" />

<partial name="_SeccionProyectos" model="Model.Proyectos"/>